astroid==3.2.4
dill==0.3.8
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
mypy==1.11.2
mypy-extensions==1.0.0
platformdirs==4.2.2
pylint==3.2.6
six==1.16.0
tomli==2.0.1
tomlkit==0.13.2
typed-ast==1.5.5
typing_extensions==4.12.2
wrapt==1.16.0
